main {
    min-height: 100vh;
}

.book-menu-overlay {
    display: block !important;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#menu-control:checked ~ main .book-menu-overlay {
    opacity: .3;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;
}

#menu-control:checked ~ main .book-page {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
    &:target {
        background-color: rgba(#f66, 0.1);
    }
}
